  @charset "UTF-8";
  /* CSS Document */
  

  body{
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 300;
	  font-stretch:expanded;
	  margins: none;
  padding: none;
  background-color:hsla(0,0%,100%,1.00);
  box-sizing:border-box;
  display:block;
  background-repeat:no-repeat;
color:black;
  }
  
  #logo-img{width:100px;
  height:auto;}
  #head-wrapper{width:40%;
  float:left;
  margin-left:20px;
  margin-top:20px;}
  main{}

  header{float:left;
  width:100%;}
  
  header img{float:left;}
  
  
  a{  text-decoration:none;
color:black;
z-index:2;
width:100%;
height:100%;
}
  
  .content{padding:0;}

  
/*  .line{width:100%;
  height:10px;
  background-color:hsla(0,0%,99%,0.92);
  float:left;}*/
  
  p{
  font-weight:300;}
  
  h1{
	     letter-spacing:15px;
font-weight:300;
  font-size:35px;
  float:left;
  letter-spacing:5px;
  margin-left:15px;}

  h2{
	    letter-spacing:5px;
	  float:left;
   font-weight:300;
  font-size:20px;
padding-left:25px;
  margin-top:50px;
 float:left;
	   width:100%;
  }
  
  nav a{}
    nav a:hover{color:hsla(0,0%,0%,0.72);}
  
  nav{

	  font-stretch:ultra-expanded;
   font-weight:thin;
	  width:50%;
	  margin-left:88px;
	  font-size:20px;
	   height:100%;
	   float:left;
	   margin-top:-60px;
	  }
  ul{
	  list-style-type:none;
	  }
	  
  li{
	  float:left;
	  padding:10px 10px 10px 10px;
	 
	  }
	  
	.blackicon{}
	  nav li:hover{}
	  
	 
	  .news-media{width:100%;
	  float:left;
	  padding-left:20px;
	  }

	  .news-item{max-width:700px;
	  float:left;
	  padding:5px 5px 5px 5px;}
	  .news-item img{float:left;
	  padding: 2px 2px 2px 2px;
	  width:auto;
	  height:300px;
}
	  .news-item .home-page-clickable{ opacity:0.7;
	  	  height:200px;}
	  .news-item  .home-page-clickable:hover{opacity:1;}
	  .news-item p{
	  text-wrap:normal;
	  height:100%;}
	  
	  footer{text-align:center;
	  content-align:center;
	  width:100%;
	  float:left;}
	  

.social-media{
width:20%;
float:left;
margin-left:75%;
margin-right:5%;
   margin-top:-100px;
}

	
	
	.column-right{
	margin-left:70%;
	width:20%;}
	
	
	.column-left{width:100%;
	height:300px;
	

}


.icons{
float:left;
padding-top:15px;
padding-right:12px;
padding-left:12px;
margin-right:5px;}

h3{font-size:35px;
margin-left:10px;
margin-bottom:-10px;}



<!--specific to "sponsers" page-->
#first{margin-top:50px;}

<!--specific to "contact" page-->
form{float:left;
 font-family: 'Open Sans', sans-serif;
width:100%;
height:100%;
margin-bottom:600px;}

label{float:left;
width:100%;
margin-left:10%;
padding-bottom:5px;
padding:5px 5px 15px 15px;}

label span{margin-left:10%;
padding-bottom:20px;}
textarea{width:50%;
margin-right:50%;
padding:5px 5px 5px 5px;
border-color:#DAD8D8;
margin-left:10%;}

input{width:50%;
margin-right:50%;
padding:5px 5px 5px 5px;
margin-left:10%;}

.button{margin-bottom:100px;}

footer{margin-top:200px;
font-size:14px;}
.opaque{height:200px;
width:100%;
background-color:hsla(0,0%,100%,0.65);
position:relative;
}


.page-heading i{float:left;
width:5%;
}
.page-heading a{float:left;
width:5%;
margin-top:45px;
margin-left:40px;
height:auto;
}

.page heading h2{margin-left:-15px;}

.news-media h2{width:80%;
float:left;}

form{
align-content:left;
}

.form-wrapper{width:800px;
height:auto;}

<!--specific to "aboutme" page-->

#kaila-image{
max-width:550px;
height:auto;
padding-left:20px;}

#column-one{width:40%;
height:auto;
float:left;
padding-left:2%;}
#column-two{width:20%;
padding-left:2%;
height:auto;
float:left;}
#column-two ul, #column-two li, #column-two h4{width:100%;
padding-top:0;
padding-bottom:0;}
#column-two h4, #column-three h4{padding-left:10px;}
#section-one, #section-two{width:100%;
float:left;}
#column-three{width:20%;
height:auto;
padding-left:2%;
padding-right:10%;
float:left;}

.about-page-link{color:hsla(214,69%,47%,1.00);}

<!--pie charts-->
ul[data-graph] li:nth-child(1) {
  color: red;
}

ul[data-graph] li:nth-child(2) {
  color: red;
}

ul[data-graph] li:nth-child(3) {
  color: yellow;
}
[data-pie-id] > *:nth-child(7n+1), [data-bar-id] > *:nth-child(7n+1), [data-line-id] > *:nth-child(7n+1) {
  color: #f23d3d; }
[data-pie-id] > *:nth-child(7n+2), [data-bar-id] > *:nth-child(7n+2), [data-line-id] > *:nth-child(7n+2) {
  color: #f02121; }
[data-pie-id] > *:nth-child(7n+3), [data-bar-id] > *:nth-child(7n+3), [data-line-id] > *:nth-child(7n+3) {
  color: #e61010; }
[data-pie-id] > *:nth-child(7n+4), [data-bar-id] > *:nth-child(7n+4), [data-line-id] > *:nth-child(7n+4) {
  color: #cf0e0e; }
[data-pie-id] > *:nth-child(7n+5), [data-bar-id] > *:nth-child(7n+5), [data-line-id] > *:nth-child(7n+5) {
  color: #ba0d0d; }
[data-pie-id] > *:nth-child(7n+6), [data-bar-id] > *:nth-child(7n+6), [data-line-id] > *:nth-child(7n+6) {
  color: #a70c0c; }
[data-pie-id] > *:nth-child(7n+7), [data-bar-id] > *:nth-child(7n+7), [data-line-id] > *:nth-child(7n+7) {
  color: #960b0b; }

#pie, #donut, #bar {
  max-height: 450px; }


svg {
  width: 100%;
  height: auto; }

.tooltip {
  margin-left: -5px;
  border-radius: 3px;
  padding: 5px; }

ul[data-pie-id] {
  list-style: none;
  padding: 10px; }

