/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



/*INITIALIZE VARIABLES*/

/*fonts & typography*/

$Futura-font-stack: 'Futura PT', sans-serif;
$Brandon-Grotesque-font-stack: 'Brandon Grotesque', sans-serif;
$Open-Sans-font-stack: 'Open-Sans', sans-serif;
$font-size-large:50px;
$font-size-medium:30px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-tiny:10px;

/*sizing*/
$full-width:100%;

/*colors*/
$primary-color: hsla(176, 0%, 0%, 1);
$blue:#3299BB;
$orange:#FF9900;

$dark-gray:#424242;
$light-gray:#e9e9e9;
$mid-gray:#bcbcbc;
$gray:#b4b4b4;

/*images*/
$tiny-image:15%;
$default-image: 400px;
$thumb-image: 90%;

/*padding*/
$most-padding:15px 15px 15px 15px;
$more-padding:10px 10px 10px 10px;
$standard-padding:5px 5px 5px 5px;
$less-padding: 2px 2px 2px 2px;
$twenty-five: 25px 25px 25px 25px;

/*colors*/
$link-color:#b6d4d0;

.content { 
	width:$full-width;
	margin-top:25px;
}



#home:active{
	#about, #contact { display:none; }
}

#about:active{
	#home, #contact { display:none; }
}

#contact:active{
	#about, #home { display:none; }
}

.no-scroll{overflow-y:hidden;}



/*ASSIGN VARIABLES*/

/*Main*/
body {
  overflow:visible;
  display:block;
  font:$Futura-font-stack;
  color: $dark-gray;
  letter-spacing: .01em;
    font-family:$Brandon-Grotesque-font-stack;
}

header {
	height:15%;
	margin-top:3%;
	min-height:120px;
	padding:$more-padding;
}

button{
	font-size:$font-size-small;
	margin-left:-8px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}
p{
	font-family:$Open-Sans-font-stack;
	font-weight:300;
	font-size:17px;
	padding:$more-padding;
}

p:first-line{text-indent:20px;}

p a{color:$blue;}

a:hover{opacity:.5;
		position:relative;}

a .hover-img:hover{
content: url(src/image/billy_kaila.png);
display:block;
position:absolute;
left:20px;
top:50px;
}

.content p{padding: 15px 5px 15px 5px;
width:40%;
font-family:$Futura-font-stack;
font-size:20px;}

/*Page Elements by Class*/

.small{
	font-size:15px;
	color:$dark-gray;
}

.graph{width:100%;}
.about-column{max-width:60%;
width:50%;
float:right;
font-family:$Futura-font-stack;
padding-bottom:15px;
font-size:20px;

}

.about-column h3{

	font-family: 'Helvetica Neue', sans-serif;
	font-weight:200;
	letter-spacing:.08em;
	padding-bottom:10px;
	text-transform:uppercase;
font-size:18px;
color:$orange;}

.about-column h5 div{padding-bottom:2px;
padding-top:4px;}

#my-knowledge, #favorite-tools{width:55%;}
#my-knowledge ul, #favorite-tools ul{list-style-type:circle;}
#my-knowledge h3, #favorite-tools h3{	margin-left:-20px;}

#job-history, #class-history{width:50%;
float:left;}

.hidden-nav{display:none;}


.mix img{width:$thumb-image;}
.mix img:hover{opacity:.5;}

.filter{font-size:$font-size-small;}

/*Page Elements by ID*/

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }


#header-container{	
	position:absolute;
	font-size:$font-size-medium;
	margin-top:3%;
}

#page-heading{
	margin-top:5%;
}

 #page-navigation{
  	position:relative;
  	width:$full-width;
  	left:70px;
  	top:60px;
  	margin-top:3%;
  }

/*Images*/
img{width:$thumb-image;}

#logo-img{
	width:$tiny-image;
	padding:$standard-padding;
}

img .thumb-img{
	width:$thumb-image;}

#container img{width:$thumb-image;}	

#kaila-image{
	width:$full-width;
	padding:$standard-padding;
	float:left;
	padding-right:25px;
	padding-bottom:15px;
}

#graph{float:right;
width:$full-width;}


/*Typography*/
.tk-futura-pt{
	font-family:$Futura-font-stack;}
.tk-brandon-grotesque{
	font-family:$Brandon-Grotesque-font-stack;}
.gf-open-sans{
	font-family:$Open-Sans-font-stack;}


/* Animation classes for the slider menu plugin*/

.dl-menu.dl-animate-out-1 {
    animation: MenuAnimOut1 0.4s linear forwards;
}
 
@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}
 
.dl-menu.dl-animate-in-1 {
    animation: MenuAnimIn1 0.3s linear forwards;
}
 
@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
 #page-navigation{display:none;}
 #header-container{margin-left:100px;}
.controls{margin-top:-40px;
font-size:12px;
font-stretch:condensed;
#header-container{margin-top:120px;
	width:200%;
}
#header-container h1{font-size:50px;}
img#logo-img, #logo-img{
width:25%;
min-width:90px;}
}
#page-heading{font-size:50px;}

}



@media screen and (max-width:650px) {
.swap{display:none;}
.hidden-nav{display:-webkit-box;}
.controls{display:-webkit-box;}


}

div.content.hide { display: none; }