/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



/*INITIALIZE VARIABLES*/

/*fonts & typography*/

$Futura-font-stack: 'Futura PT', sans-serif;
$Brandon-Grotesque-font-stack: 'Brandon Grotesque', sans-serif;
$Open-Sans-font-stack: 'Open-Sans', sans-serif;
$Karma-font-stack: 'Karma' serif;
$font-size-large:50px;
$font-size-medium:30px;
$font-size-normal: 18px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-tiny:10px;

/*sizing*/
$full-width:100%;

/*colors*/
$primary-color: hsla(176, 0%, 0%, 1);
$blue:#3299BB;
$orange:#FF9900;

$dark-gray:#424242;
$light-gray:#e9e9e9;
$mid-gray:#bcbcbc;
$gray:#b4b4b4;

/*images*/
$tiny-image:15%;
$default-image: 400px;
$icon-image: 50px;
$thumb-image: 90%;

/*padding*/
$most-padding:15px 15px 15px 15px;
$more-padding:10px 10px 10px 10px;
$standard-padding:5px 5px 5px 5px;
$less-padding: 2px 2px 2px 2px;
$twenty-five: 25px 25px 25px 25px;

/*colors*/
$link-color:#b6d4d0;




#home:active{
	#about, #contact { display:none; }
}

#about:active{
	#home, #contact { display:none; }
}

#contact:active{
	#about, #home { display:none; }
}

.no-scroll{overflow-y:hidden;}



/*ASSIGN VARIABLES*/

/*Main*/
body {

font-family:$Karma-font-stack;
  overflow:visible;
  display:block;
  color: $dark-gray;
  letter-spacing: .1px;
}
footer{ a{ color:black;

  }}
header {
	height:15%;
	margin-top:3%;
	min-height:120px;
	padding:$more-padding;
}

h1{	letter-spacing:.5px;}

.pages h1{letter-spacing:1px;
font-size:20px;
text-transform:uppercase;
padding:$more-padding;
font-family:$Futura-font-stack;}

.pages{font-family:$Karma-font-stack;}

.content{font-family:$Karma-font-stack;}

#content_1, #content_2, #content_3 {font-family:'Karma' serif;}
button{
	font-size:$font-size-small;
	margin-left:-8px;
}

ul{
    li{list-style-type:none;}
}


nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color:black;
    text-decoration: none;

  }
}
p{
	font-family:$Karma-font-stack;
	font-weight:300;
	font-size:17px;
	padding:$more-padding;
}

p:first-line{text-indent:20px;}

a{color:$blue;
text-decoration:none;}

a:hover{opacity:.5;
		position:relative;}

a .hover-img:hover{

left:20px;
top:50px;
}

footer{width:100%;
float:left;
}

.float-left{float:left;}
.margin-right{margin-right:70%;}
/*Page Elements by Class*/

.home-page {.content p{padding: 15px 5px 15px 5px;
width:40%;
font-size:20px;}
}
.small{
	font-size:15px;
	color:$dark-gray;
}

.graph{width:100%;}
.about-column{max-width:60%;
width:50%;
float:right;
padding-bottom:15px;
font-size:20px;
font-family:$Karma-font-stack;
}

.container-mixed{font-size:20px;}

#about-page-content{font-family:$Karma-font-stack;}
.about-column h3{
	font-family: 'Helvetica Neue', sans-serif;
	font-weight:200;
	letter-spacing:.08em;
	padding-bottom:10px;
	text-transform:uppercase;
font-size:18px;
color:$orange;}

.about-column h5 div{padding-bottom:2px;
padding-top:4px;}

.content_2 .about-page-content a {color:$blue;}

#my-knowledge, #favorite-tools{width:55%;}
#my-knowledge ul, #favorite-tools ul{list-style-type:circle;}
#my-knowledge h3, #favorite-tools h3{	margin-left:-20px;}

#job-history, #class-history{width:50%;
float:left;}

.hidden-nav{display:none;}


.mix img{width:$thumb-image;}
.mix img:hover{opacity:.5;}

.filter{font-size:$font-size-small;}

.work-page:before{padding:0;}
.container-mixed .work-page{font-size:20px;}
.container-mixed .mix:before .work-page{padding:0;}
.Container .work-page{width:15%;}
.Container .work-page div{float:left;}

.line{height:10px;
width:100%;
background-color:black;
margin-top:20px;
margin-bottom:20px;
float:left;}
.orange{color:$orange;
        width:auto;
        padding-left:10px;}

/*Page Elements by ID*/

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }


#header-container{	
  h1{padding-top:30px;}
	font-size:$font-size-medium;
  a{color:black;
    text-decoration:none;}
}



nav#page-navigation a{ color:black;}
 #page-navigation{
  	position:relative;
  	width:$full-width;
  	left:90px;
    top:-20px;
  	font-family: 'Karma' serif;
  }

/*Images*/
img{width:$thumb-image;}

#logo-img{
	width:90px;
	padding:$standard-padding;
	margin-right:10px;
}

#logo-img:hover{
opacity:.5;
}

.work-page .thumb-img img{
	width:$icon-image;}

.work-page i .float{float:left;}
.work-page a i{float:left;}
.work-page div	.thumb-img{width:50px;
float:left;}
.work-nav{display:inline-flex;
padding-bottom:15px;
justify-content:space-between;}
.work-nav a{float:left;
}

.work-nav h1{padding:$more-padding;}
#container img{width:$icon-image;}	

#kaila-image{
	width:$full-width;
	padding:$standard-padding;
	float:left;
	padding-right:25px;
	padding-bottom:15px;

}

.fa-angle-left{margin-right:40px;}
.fa-angle-right{margin-left:-10px;
padding-right:10px;}

#popup{width:300px;
height:auto;
background-color:#c4c4c4;
opacity:.8;
border:solid black;
padding:5px 5px 5px 5px;
position:relative;
top:410px;
left:300px;
display:none;}

#graph{float:right;
width:$full-width;}

#social-media{width:26%;
margin-left:37%;
display:flex;
flex-direction:row;
align-content:center;
margin-right:37%;
float:left;
padding-bottom:20px;}

#about-header{position:absolute;}
#about-header h1{
z-index:5;
font-size:160px;
color:white;
left:10px;}

/*Typography*/
.tk-futura-pt{
	font-family:$Futura-font-stack;}
.tk-brandon-grotesque{
	font-family:$Brandon-Grotesque-font-stack;}
.gf-open-sans{
	font-family:$Open-Sans-font-stack;}

/*Showing and Hiding Content styles*/
.more {
      display: none;
    }
   a.showLink, a.hideLink {
      text-decoration: none;
      color: #36f;
      padding-left: 8px;
      background: transparent url(down.gif) no-repeat left;

     }
   a.hideLink {
      background: transparent url(up.gif) no-repeat left; }
   a.showLink:hover, a.hideLink:hover {
      border-bottom: 1px dotted #36f; }

/* Animation classes for the slider menu plugin*/

.dl-menu.dl-animate-out-1 {
    animation: MenuAnimOut1 0.4s linear forwards;
}
 
@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}
 
.dl-menu.dl-animate-in-1 {
    animation: MenuAnimIn1 0.3s linear forwards;
}
 
@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

/* =====WORK PAGE SPECIFIC STYLES ===========*/




.work-page{margin-top:20px;
           line-height:30px;
           .orange{padding:0;}
          .content{padding:0px 25px 25px 0px;
                    padding-left:30px;
                    font-size:$font-size-normal;
                    .wrapper{padding-bottom:20px;
                        .full-width{width:100%;}
                        img{max-width:400px;
                          width:400px;
                          height:auto;}

                        }
                        .left{float:left;width:400px;}
                        .right{float:right;width:400px;}
                  h2{font-size:20px;
                  }
                  a{color:$blue;
                    padding:0;
                    font-size:19px;
                    width:auto;}
                  h1{padding:0;
                    letter-spacing:1.25px;
                    font-size:22px;}
                  img{height:300px;
                      width:auto;
                      margin-right:10px;
                      margin-bottom:10px;}
                      h5, h4{letter-spacing:.02rem;}
                      h4{font-weight:bold;}
}
            #content_1{
                      img{height:200px;}
                    }

            
              h2{text-transform:uppercase;}

}
div.content.hide { display: none; }
.tab .active .thumb-img{opacity:.8;}
.tab .thumb-img{opacity:1;}
 .back-button{width:50px;}
 .next-button{width:50px;}


/* =====MEDIA QUERIES ===========*/

@media screen and (max-width:600px) {

 #social-media{
display:flex;
flex-direction:row;
align-content:center;
width:50%;
margin-left:25%;
margin-right:25%;
padding:0;
width:auto;
}

#icon-info{color:$gray;
          font-size: $font-size-xsmall;
          margin-left:4%;
          padding-top:5px;}

#header-container h1{font-size:40px; margin-left:110px;}
img#logo-img, #logo-img{
display:none;}

#mobile-navigation-icon{color:$gray;}
img#mobile-navigation-icon{ width:25%;
  float:left;
                           max-width:70px;
                          margin-top:2%;}

#page-navigation{left:100px;
top:100px;
margin:0;}
#header-container{
    width:100%; 

}
.centered{content-align:center;
margin-left:auto;
margin-right:auto;
text-align:center;}
.height-350{height:350px;
            width:auto;}
.width-200{width:200px;
          height:auto;}
#page-heading{font-size:50px;
margin-top:35px;}
 .left, .right, .left img, .right img, .work-page .content .wrapper img{
                                                                        max-width:300px;
                                                                        width:100%;
}
#work-page-nav{display:none;}
.work-page .content{padding-left:10px;}
}

@media screen and (max-width:709px) and (min-width:601px) {
  #social-media{
display:flex;
flex-direction:row;
align-content:center;
width:50%;
margin-left:25%;
margin-right:25%;
padding:0;
width:auto;
}

  .left, .right, .left img, .right img, .work-page .content .wrapper img{max-width:400px;
                                                                        width:100%;}
  .wrapper .right, .work-page .content .right{float:left;
                                             margin:auto;}
  #work-page-nav{display:none;}
  #page-navigation{margin-top:6%;}

                                                           }



@media screen and (max-width:815px) and (min-width:710px) {
  .left, .right, .left img, .right img, .work-page .content .wrapper img{max-width:700px;
                                                                        width:600px;}
  .wrapper .right, .work-page .content .right{float:left;}
  #work-page-nav{display:none;}
  #page-navigation{margin-top:6%;}

}



@media screen and (max-width:870px) and (min-width:815px) {
.left, .right, .left img, .right img, .work-page .content .wrapper img{max-width:350px;}
#page-navigation{padding-top:25px;}

#header-container{  

  a{color:black;
    text-decoration:none;}
}
}

@media screen and (max-width:1000px) and (min-width:871px) {
.left, .right, .left img, .right img, .work-page .content .wrapper img{max-width:375px;}
}
