/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";



/*INITIALIZE VARIABLES*/

/*fonts & typography*/

$Futura-font-stack: 'Futura PT', sans-serif;
$Brandon-Grotesque-font-stack: 'Brandon Grotesque', sans-serif;
$Open-Sans-font-stack: 'Open-Sans', sans-serif;
$font-size-large:50px;
$font-size-medium:30px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-tiny:10px;

/*sizing*/
$full-width:100%;

/*colors*/
$primary-color: hsla(176, 0%, 0%, 1);

/*images*/
$tiny-image:15%;
$default-image: 200px;
$thumb-image: 90%;

/*padding*/
$more-padding:10px 10px 10px 10px;
$standard-padding:5px 5px 5px 5px;
$less-padding: 2px 2px 2px 2px;




/*ASSIGN VARIABLES*/

/*Main*/
body {
	overflow:visible;
  display:block;
  font: 100% $Brandon-Grotesque-font-stack;
  color: $primary-color;
}

header {
	height:15%;
	margin-top:3%;
	min-height:150px;
	padding:$more-padding;
}

button{
	font-size:$font-size-small;
	margin-left:-8px;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}


/*Page Elements by Class*/

.mix img{width:$thumb-image;}
.mix img:hover{opacity:.5;}

.filter{font-size:$font-size-small;}

/*Page Elements by ID*/

#header-container{	
	position:absolute;
	font-size:$font-size-medium;
	margin-top:3%;
}

#page-heading{
	margin-top:5%;
}

 #page-navigation{
  	position:relative;
  	width:$full-width;
  	left:70px;
  	top:60px;
  	margin-top:3%;
  }

/*Images*/
img{width:$thumb-image;}

#logo-img{
	width:$tiny-image;
	padding:$standard-padding;
}

img .thumb-img{
	width:$thumb-image;}

#container img{width:$thumb-image;}	

/*Typography*/
.tk-futura-pt{
	font-family:$Futura-font-stack;}
.tk-brandon-grotesque{
	font-family:$Brandon-Grotesque-font-stack;}
.gf-open-sans{
	font-family:$Open-Sans-font-stack;}


