/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*INITIALIZE VARIABLES*/
/*fonts & typography*/
/*sizing*/
/*colors*/
/*images*/
/*padding*/
/*colors*/
/* line 58, ../sass/screen.scss */
#home:active #about, #home:active #contact {
  display: none;
}

/* line 62, ../sass/screen.scss */
#about:active #home, #about:active #contact {
  display: none;
}

/* line 66, ../sass/screen.scss */
#contact:active #about, #contact:active #home {
  display: none;
}

/* line 69, ../sass/screen.scss */
.no-scroll {
  overflow-y: hidden;
}

/*ASSIGN VARIABLES*/
/*Main*/
/* line 76, ../sass/screen.scss */
body {
  font-family: "Karma" serif;
  overflow: visible;
  display: block;
  color: #424242;
  letter-spacing: .1px;
}

/* line 84, ../sass/screen.scss */
footer a {
  color: black;
}

/* line 87, ../sass/screen.scss */
header {
  height: 15%;
  margin-top: 3%;
  min-height: 120px;
  padding: 10px 10px 10px 10px;
}

/* line 94, ../sass/screen.scss */
h1 {
  letter-spacing: .5px;
}

/* line 96, ../sass/screen.scss */
.pages h1 {
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
  font-family: "Futura PT", sans-serif;
}

/* line 102, ../sass/screen.scss */
.pages {
  font-family: "Karma" serif;
}

/* line 104, ../sass/screen.scss */
.content {
  font-family: "Karma" serif;
}

/* line 106, ../sass/screen.scss */
#content_1, #content_2, #content_3 {
  font-family: 'Karma' serif;
}

/* line 107, ../sass/screen.scss */
button {
  font-size: 14px;
  margin-left: -8px;
}

/* line 113, ../sass/screen.scss */
ul li {
  list-style-type: none;
}

/* line 118, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 124, ../sass/screen.scss */
nav li {
  display: inline-block;
}
/* line 126, ../sass/screen.scss */
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
  text-decoration: none;
}

/* line 135, ../sass/screen.scss */
p {
  font-family: "Karma" serif;
  font-weight: 300;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
}

/* line 142, ../sass/screen.scss */
p:first-line {
  text-indent: 20px;
}

/* line 144, ../sass/screen.scss */
a {
  color: #3299BB;
  text-decoration: none;
}

/* line 147, ../sass/screen.scss */
a:hover {
  opacity: .5;
  position: relative;
}

/* line 150, ../sass/screen.scss */
a .hover-img:hover {
  left: 20px;
  top: 50px;
}

/* line 156, ../sass/screen.scss */
footer {
  width: 100%;
  float: left;
}

/* line 160, ../sass/screen.scss */
.float-left {
  float: left;
}

/* line 161, ../sass/screen.scss */
.margin-right {
  margin-right: 70%;
}

/*Page Elements by Class*/
/* line 164, ../sass/screen.scss */
.home-page .content p {
  padding: 15px 5px 15px 5px;
  width: 40%;
  font-size: 20px;
}

/* line 168, ../sass/screen.scss */
.small {
  font-size: 15px;
  color: #424242;
}

/* line 173, ../sass/screen.scss */
.graph {
  width: 100%;
}

/* line 174, ../sass/screen.scss */
.about-column {
  max-width: 60%;
  width: 50%;
  float: right;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: "Karma" serif;
}

/* line 182, ../sass/screen.scss */
.container-mixed {
  font-size: 20px;
}

/* line 184, ../sass/screen.scss */
#about-page-content {
  font-family: "Karma" serif;
}

/* line 185, ../sass/screen.scss */
.about-column h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  letter-spacing: .08em;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #FF9900;
}

/* line 194, ../sass/screen.scss */
.about-column h5 div {
  padding-bottom: 2px;
  padding-top: 4px;
}

/* line 197, ../sass/screen.scss */
.content_2 .about-page-content a {
  color: #3299BB;
}

/* line 199, ../sass/screen.scss */
#my-knowledge, #favorite-tools {
  width: 55%;
}

/* line 200, ../sass/screen.scss */
#my-knowledge ul, #favorite-tools ul {
  list-style-type: circle;
}

/* line 201, ../sass/screen.scss */
#my-knowledge h3, #favorite-tools h3 {
  margin-left: -20px;
}

/* line 203, ../sass/screen.scss */
#job-history, #class-history {
  width: 50%;
  float: left;
}

/* line 206, ../sass/screen.scss */
.hidden-nav {
  display: none;
}

/* line 209, ../sass/screen.scss */
.mix img {
  width: 90%;
}

/* line 210, ../sass/screen.scss */
.mix img:hover {
  opacity: .5;
}

/* line 212, ../sass/screen.scss */
.filter {
  font-size: 14px;
}

/* line 214, ../sass/screen.scss */
.work-page:before {
  padding: 0;
}

/* line 215, ../sass/screen.scss */
.container-mixed .work-page {
  font-size: 20px;
}

/* line 216, ../sass/screen.scss */
.container-mixed .mix:before .work-page {
  padding: 0;
}

/* line 217, ../sass/screen.scss */
.Container .work-page {
  width: 15%;
}

/* line 218, ../sass/screen.scss */
.Container .work-page div {
  float: left;
}

/* line 220, ../sass/screen.scss */
.line {
  height: 10px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

/* line 226, ../sass/screen.scss */
.orange {
  color: #FF9900;
  width: auto;
  padding-left: 10px;
}

/*Page Elements by ID*/
/* line 232, ../sass/screen.scss */
#hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 99;
  /* Higher than anything else in the document */
}

/* line 245, ../sass/screen.scss */
#header-container {
  font-size: 30px;
}
/* line 246, ../sass/screen.scss */
#header-container h1 {
  padding-top: 30px;
}
/* line 248, ../sass/screen.scss */
#header-container a {
  color: black;
  text-decoration: none;
}

/* line 254, ../sass/screen.scss */
nav#page-navigation a {
  color: black;
}

/* line 255, ../sass/screen.scss */
#page-navigation {
  position: relative;
  width: 100%;
  left: 90px;
  top: -20px;
  font-family: 'Karma' serif;
}

/*Images*/
/* line 264, ../sass/screen.scss */
img {
  width: 90%;
}

/* line 266, ../sass/screen.scss */
#logo-img {
  width: 90px;
  padding: 5px 5px 5px 5px;
  margin-right: 10px;
}

/* line 272, ../sass/screen.scss */
#logo-img:hover {
  opacity: .5;
}

/* line 276, ../sass/screen.scss */
.work-page .thumb-img img {
  width: 50px;
}

/* line 279, ../sass/screen.scss */
.work-page i .float {
  float: left;
}

/* line 280, ../sass/screen.scss */
.work-page a i {
  float: left;
}

/* line 281, ../sass/screen.scss */
.work-page div .thumb-img {
  width: 50px;
  float: left;
}

/* line 283, ../sass/screen.scss */
.work-nav {
  display: inline-flex;
  padding-bottom: 15px;
  justify-content: space-between;
}

/* line 286, ../sass/screen.scss */
.work-nav a {
  float: left;
}

/* line 289, ../sass/screen.scss */
.work-nav h1 {
  padding: 10px 10px 10px 10px;
}

/* line 290, ../sass/screen.scss */
#container img {
  width: 50px;
}

/* line 292, ../sass/screen.scss */
#kaila-image {
  width: 100%;
  padding: 5px 5px 5px 5px;
  float: left;
  padding-right: 25px;
  padding-bottom: 15px;
}

/* line 301, ../sass/screen.scss */
.fa-angle-left {
  margin-right: 40px;
}

/* line 302, ../sass/screen.scss */
.fa-angle-right {
  margin-left: -10px;
  padding-right: 10px;
}

/* line 305, ../sass/screen.scss */
#popup {
  width: 300px;
  height: auto;
  background-color: #c4c4c4;
  opacity: .8;
  border: solid black;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: 410px;
  left: 300px;
  display: none;
}

/* line 316, ../sass/screen.scss */
#graph {
  float: right;
  width: 100%;
}

/* line 319, ../sass/screen.scss */
#social-media {
  width: 26%;
  margin-left: 37%;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-right: 37%;
  float: left;
  padding-bottom: 20px;
}

/* line 328, ../sass/screen.scss */
#about-header {
  position: absolute;
}

/* line 329, ../sass/screen.scss */
#about-header h1 {
  z-index: 5;
  font-size: 160px;
  color: white;
  left: 10px;
}

/*Typography*/
/* line 336, ../sass/screen.scss */
.tk-futura-pt {
  font-family: "Futura PT", sans-serif;
}

/* line 338, ../sass/screen.scss */
.tk-brandon-grotesque {
  font-family: "Brandon Grotesque", sans-serif;
}

/* line 340, ../sass/screen.scss */
.gf-open-sans {
  font-family: "Open-Sans", sans-serif;
}

/*Showing and Hiding Content styles*/
/* line 344, ../sass/screen.scss */
.more {
  display: none;
}

/* line 347, ../sass/screen.scss */
a.showLink, a.hideLink {
  text-decoration: none;
  color: #36f;
  padding-left: 8px;
  background: transparent url(down.gif) no-repeat left;
}

/* line 354, ../sass/screen.scss */
a.hideLink {
  background: transparent url(up.gif) no-repeat left;
}

/* line 356, ../sass/screen.scss */
a.showLink:hover, a.hideLink:hover {
  border-bottom: 1px dotted #36f;
}

/* Animation classes for the slider menu plugin*/
/* line 361, ../sass/screen.scss */
.dl-menu.dl-animate-out-1 {
  animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
  50% {
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
/* line 379, ../sass/screen.scss */
.dl-menu.dl-animate-in-1 {
  animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
/* =====WORK PAGE SPECIFIC STYLES ===========*/
/* line 403, ../sass/screen.scss */
.work-page {
  margin-top: 20px;
  line-height: 30px;
}
/* line 405, ../sass/screen.scss */
.work-page .orange {
  padding: 0;
}
/* line 406, ../sass/screen.scss */
.work-page .content {
  padding: 0px 25px 25px 0px;
  padding-left: 30px;
  font-size: 18px;
}
/* line 409, ../sass/screen.scss */
.work-page .content .wrapper {
  padding-bottom: 20px;
}
/* line 410, ../sass/screen.scss */
.work-page .content .wrapper .full-width {
  width: 100%;
}
/* line 411, ../sass/screen.scss */
.work-page .content .wrapper img {
  max-width: 400px;
  width: 400px;
  height: auto;
}
/* line 416, ../sass/screen.scss */
.work-page .content .left {
  float: left;
  width: 400px;
}
/* line 417, ../sass/screen.scss */
.work-page .content .right {
  float: right;
  width: 400px;
}
/* line 418, ../sass/screen.scss */
.work-page .content h2 {
  font-size: 20px;
}
/* line 420, ../sass/screen.scss */
.work-page .content a {
  color: #3299BB;
  padding: 0;
  font-size: 19px;
  width: auto;
}
/* line 424, ../sass/screen.scss */
.work-page .content h1 {
  padding: 0;
  letter-spacing: 1.25px;
  font-size: 22px;
}
/* line 427, ../sass/screen.scss */
.work-page .content img {
  height: 300px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 431, ../sass/screen.scss */
.work-page .content h5, .work-page .content h4 {
  letter-spacing: .02rem;
}
/* line 432, ../sass/screen.scss */
.work-page .content h4 {
  font-weight: bold;
}
/* line 435, ../sass/screen.scss */
.work-page #content_1 img {
  height: 200px;
}
/* line 439, ../sass/screen.scss */
.work-page h2 {
  text-transform: uppercase;
}

/* line 442, ../sass/screen.scss */
div.content.hide {
  display: none;
}

/* line 443, ../sass/screen.scss */
.tab .active .thumb-img {
  opacity: .8;
}

/* line 444, ../sass/screen.scss */
.tab .thumb-img {
  opacity: 1;
}

/* line 445, ../sass/screen.scss */
.back-button {
  width: 50px;
}

/* line 446, ../sass/screen.scss */
.next-button {
  width: 50px;
}

/* =====MEDIA QUERIES ===========*/
@media screen and (max-width: 600px) {
  /* line 453, ../sass/screen.scss */
  #social-media {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    width: auto;
  }

  /* line 464, ../sass/screen.scss */
  #icon-info {
    color: #b4b4b4;
    font-size: 12px;
    margin-left: 4%;
    padding-top: 5px;
  }

  /* line 469, ../sass/screen.scss */
  #header-container h1 {
    font-size: 40px;
    margin-left: 110px;
  }

  /* line 470, ../sass/screen.scss */
  img#logo-img, #logo-img {
    display: none;
  }

  /* line 473, ../sass/screen.scss */
  #mobile-navigation-icon {
    color: #b4b4b4;
  }

  /* line 474, ../sass/screen.scss */
  img#mobile-navigation-icon {
    width: 25%;
    float: left;
    max-width: 70px;
    margin-top: 2%;
  }

  /* line 479, ../sass/screen.scss */
  #page-navigation {
    left: 100px;
    top: 100px;
    margin: 0;
  }

  /* line 482, ../sass/screen.scss */
  #header-container {
    width: 100%;
  }

  /* line 486, ../sass/screen.scss */
  .centered {
    content-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* line 490, ../sass/screen.scss */
  .height-350 {
    height: 350px;
    width: auto;
  }

  /* line 492, ../sass/screen.scss */
  .width-200 {
    width: 200px;
    height: auto;
  }

  /* line 494, ../sass/screen.scss */
  #page-heading {
    font-size: 50px;
    margin-top: 35px;
  }

  /* line 496, ../sass/screen.scss */
  .left, .right, .left img, .right img, .work-page .content .wrapper img {
    max-width: 300px;
    width: 100%;
  }

  /* line 500, ../sass/screen.scss */
  #work-page-nav {
    display: none;
  }

  /* line 501, ../sass/screen.scss */
  .work-page .content {
    padding-left: 10px;
  }
}
@media screen and (max-width: 709px) and (min-width: 601px) {
  /* line 505, ../sass/screen.scss */
  #social-media {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0;
    width: auto;
  }

  /* line 516, ../sass/screen.scss */
  .left, .right, .left img, .right img, .work-page .content .wrapper img {
    max-width: 400px;
    width: 100%;
  }

  /* line 518, ../sass/screen.scss */
  .wrapper .right, .work-page .content .right {
    float: left;
    margin: auto;
  }

  /* line 520, ../sass/screen.scss */
  #work-page-nav {
    display: none;
  }

  /* line 521, ../sass/screen.scss */
  #page-navigation {
    margin-top: 6%;
  }
}
@media screen and (max-width: 815px) and (min-width: 710px) {
  /* line 528, ../sass/screen.scss */
  .left, .right, .left img, .right img, .work-page .content .wrapper img {
    max-width: 700px;
    width: 600px;
  }

  /* line 530, ../sass/screen.scss */
  .wrapper .right, .work-page .content .right {
    float: left;
  }

  /* line 531, ../sass/screen.scss */
  #work-page-nav {
    display: none;
  }

  /* line 532, ../sass/screen.scss */
  #page-navigation {
    margin-top: 6%;
  }
}
@media screen and (max-width: 870px) and (min-width: 815px) {
  /* line 539, ../sass/screen.scss */
  .left, .right, .left img, .right img, .work-page .content .wrapper img {
    max-width: 350px;
  }

  /* line 540, ../sass/screen.scss */
  #page-navigation {
    padding-top: 25px;
  }

  /* line 544, ../sass/screen.scss */
  #header-container a {
    color: black;
    text-decoration: none;
  }
}
@media screen and (max-width: 1000px) and (min-width: 871px) {
  /* line 550, ../sass/screen.scss */
  .left, .right, .left img, .right img, .work-page .content .wrapper img {
    max-width: 375px;
  }
}
