/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*INITIALIZE VARIABLES*/
/*fonts & typography*/
/*sizing*/
/*colors*/
/*images*/
/*padding*/
/*colors*/
.content {
  width: 100%;
  margin-top: 25px; }

#home:active #about, #home:active #contact {
  display: none; }

#about:active #home, #about:active #contact {
  display: none; }

#contact:active #about, #contact:active #home {
  display: none; }

.no-scroll {
  overflow-y: hidden; }

/*ASSIGN VARIABLES*/
/*Main*/
body {
  font-family: "Karma" serif;
  overflow: visible;
  display: block;
  color: #424242;
  letter-spacing: .1px; }

header {
  height: 15%;
  margin-top: 3%;
  min-height: 120px;
  padding: 10px 10px 10px 10px; }

h1 {
  letter-spacing: .5px; }

.pages h1 {
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
  font-family: "Futura PT", sans-serif; }

.pages {
  font-family: "Karma" serif; }

.content {
  font-family: 'Karma' serif; }

#content_1, #content_2, #content_3 {
  font-family: 'Karma' serif; }

button {
  font-size: 14px;
  margin-left: -8px; }

ul li {
  list-style-type: none; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 10px 10px 10px 10px; }

p:first-line {
  text-indent: 20px; }

p a {
  color: #3299BB; }

a:hover {
  opacity: .5;
  position: relative; }

a .hover-img:hover {
  left: 20px;
  top: 50px; }

footer {
  width: 100%;
  float: left; }

/*Page Elements by Class*/
.content p {
  padding: 15px 5px 15px 5px;
  width: 40%;
  font-size: 20px; }

.small {
  font-size: 15px;
  color: #424242; }

.graph {
  width: 100%; }

.about-column {
  max-width: 60%;
  width: 50%;
  float: right;
  padding-bottom: 15px;
  font-size: 20px;
  font-family: "Karma" serif; }

.container-mixed {
  font-size: 20px; }

.about-column h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  letter-spacing: .08em;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #FF9900; }

.about-column h5 div {
  padding-bottom: 2px;
  padding-top: 4px; }

#my-knowledge, #favorite-tools {
  width: 55%; }

#my-knowledge ul, #favorite-tools ul {
  list-style-type: circle; }

#my-knowledge h3, #favorite-tools h3 {
  margin-left: -20px; }

#job-history, #class-history {
  width: 50%;
  float: left; }

.hidden-nav {
  display: none; }

.mix img {
  width: 90%; }

.mix img:hover {
  opacity: .5; }

.filter {
  font-size: 14px; }

.work-page:before {
  padding: 0; }

.container-mixed .work-page {
  font-size: 20px; }

.container-mixed .mix:before .work-page {
  padding: 0; }

.Container .work-page {
  width: 15%; }

.Container .work-page div {
  float: left; }

.line {
  height: 10px;
  width: 100%;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left; }

/*Page Elements by ID*/
#hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 99;
  /* Higher than anything else in the document */ }

#header-container {
  position: absolute;
  font-size: 30px;
  margin-top: 3%; }

#page-heading {
  margin-top: 5%; }

#page-navigation {
  position: relative;
  width: 100%;
  left: 83px;
  top: 60px;
  margin-top: 3%;
  font-family: 'Karma' serif; }

/*Images*/
img {
  width: 90%; }

#logo-img {
  width: 15%;
  padding: 5px 5px 5px 5px;
  margin-right: 10px; }

#logo-img:hover {
  opacity: .5; }

.work-page .thumb-img img {
  width: 50px; }

.work-page i .float {
  float: left; }

.work-page a i {
  float: left; }

.work-page div .thumb-img {
  width: 50px;
  float: left; }

.work-nav {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 15px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.work-nav a {
  float: left; }

.work-nav h1 {
  padding: 10px 10px 10px 10px; }

#container img {
  width: 50px; }

#kaila-image {
  width: 100%;
  padding: 5px 5px 5px 5px;
  float: left;
  padding-right: 25px;
  padding-bottom: 15px; }

.fa-angle-left {
  margin-right: 40px; }

.fa-angle-right {
  margin-left: -10px;
  padding-right: 10px; }

#popup {
  width: 300px;
  height: auto;
  background-color: #c4c4c4;
  opacity: .8;
  border: solid black;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: 410px;
  left: 300px;
  display: none; }

#graph {
  float: right;
  width: 100%; }

#social-media {
  width: 26%;
  margin-left: 37%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-right: 37%;
  float: left;
  padding-bottom: 20px; }

#about-header {
  position: absolute; }

#about-header h1 {
  position: relative;
  top: 405px;
  z-index: 5;
  font-size: 160px;
  color: white;
  left: 10px; }

/*Typography*/
.tk-futura-pt {
  font-family: "Futura PT", sans-serif; }

.tk-brandon-grotesque {
  font-family: "Brandon Grotesque", sans-serif; }

.gf-open-sans {
  font-family: "Open-Sans", sans-serif; }

/* Animation classes for the slider menu plugin*/
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s linear forwards;
          animation: MenuAnimOut1 0.4s linear forwards; }

@-webkit-keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
            transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@keyframes MenuAnimOut1 {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg); }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
            transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s linear forwards;
          animation: MenuAnimIn1 0.3s linear forwards; }

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
            transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
            transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
            transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
            transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }
/* =====WORK PAGE SPECIFIC STYLES ===========*/
.work-page {
  margin-top: 20px; }

.tab .active .thumb-img {
  opacity: .8; }

.tab .thumb-img {
  opacity: 1; }

.back-button {
  width: 50px; }

.next-button {
  width: 50px; }

/* =====MEDIA QUERIES ===========*/
@media screen and (max-width: 600px) {
  #page-navigation {
    display: none; }

  #header-container {
    margin-left: 100px; }

  .controls {
    margin-top: -40px;
    font-size: 12px;
    font-stretch: condensed; }
    .controls #header-container {
      margin-top: 120px;
      width: 200%; }
    .controls #header-container h1 {
      font-size: 50px; }
    .controls img#logo-img, .controls #logo-img {
      width: 25%;
      min-width: 90px; }

  #page-heading {
    font-size: 50px; } }
@media screen and (max-width: 650px) {
  .swap {
    display: none; }

  .hidden-nav { }

  .controls { } }
div.content.hide {
  display: none; }
