/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*INITIALIZE VARIABLES*/
/*fonts & typography*/
/*sizing*/
/*colors*/
/*images*/
/*padding*/
/*colors*/
/* line 51, ../sass/screen.scss */
.content {
  width: 100%;
  margin-top: 25px;
}

/* line 59, ../sass/screen.scss */
#home:active #about, #home:active #contact {
  display: none;
}

/* line 63, ../sass/screen.scss */
#about:active #home, #about:active #contact {
  display: none;
}

/* line 67, ../sass/screen.scss */
#contact:active #about, #contact:active #home {
  display: none;
}

/* line 70, ../sass/screen.scss */
.no-scroll {
  overflow-y: hidden;
}

/*ASSIGN VARIABLES*/
/*Main*/
/* line 77, ../sass/screen.scss */
body {
  overflow: visible;
  display: block;
  font: "Futura PT", sans-serif;
  color: #424242;
  letter-spacing: .01em;
  font-family: "Brandon Grotesque", sans-serif;
}

/* line 86, ../sass/screen.scss */
header {
  height: 15%;
  margin-top: 3%;
  min-height: 120px;
  padding: 10px 10px 10px 10px;
}

/* line 93, ../sass/screen.scss */
button {
  font-size: 14px;
  margin-left: -8px;
}

/* line 99, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 105, ../sass/screen.scss */
nav li {
  display: inline-block;
}
/* line 107, ../sass/screen.scss */
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

/* line 113, ../sass/screen.scss */
p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
}

/* line 120, ../sass/screen.scss */
p:first-line {
  text-indent: 20px;
}

/* line 122, ../sass/screen.scss */
p a {
  color: #3299BB;
}

/* line 124, ../sass/screen.scss */
a:hover {
  opacity: .5;
  position: relative;
}

/* line 127, ../sass/screen.scss */
a .hover-img:hover {
  content: url(src/image/billy_kaila.png);
  display: block;
  position: absolute;
  left: 20px;
  top: 50px;
}

/* line 135, ../sass/screen.scss */
.content p {
  padding: 15px 5px 15px 5px;
  width: 40%;
  font-family: "Futura PT", sans-serif;
  font-size: 20px;
}

/*Page Elements by Class*/
/* line 142, ../sass/screen.scss */
.small {
  font-size: 15px;
  color: #424242;
}

/* line 147, ../sass/screen.scss */
.graph {
  width: 100%;
}

/* line 148, ../sass/screen.scss */
.about-column {
  max-width: 60%;
  width: 50%;
  float: right;
  font-family: "Futura PT", sans-serif;
  padding-bottom: 15px;
  font-size: 20px;
}

/* line 157, ../sass/screen.scss */
.about-column h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  letter-spacing: .08em;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #FF9900;
}

/* line 167, ../sass/screen.scss */
.about-column h5 div {
  padding-bottom: 2px;
  padding-top: 4px;
}

/* line 170, ../sass/screen.scss */
#my-knowledge, #favorite-tools {
  width: 55%;
}

/* line 171, ../sass/screen.scss */
#my-knowledge ul, #favorite-tools ul {
  list-style-type: circle;
}

/* line 172, ../sass/screen.scss */
#my-knowledge h3, #favorite-tools h3 {
  margin-left: -20px;
}

/* line 174, ../sass/screen.scss */
#job-history, #class-history {
  width: 50%;
  float: left;
}

/* line 177, ../sass/screen.scss */
.hidden-nav {
  display: none;
}

/* line 180, ../sass/screen.scss */
.mix img {
  width: 90%;
}

/* line 181, ../sass/screen.scss */
.mix img:hover {
  opacity: .5;
}

/* line 183, ../sass/screen.scss */
.filter {
  font-size: 14px;
}

/*Page Elements by ID*/
/* line 187, ../sass/screen.scss */
#hideAll {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 99;
  /* Higher than anything else in the document */
}

/* line 200, ../sass/screen.scss */
#header-container {
  position: absolute;
  font-size: 30px;
  margin-top: 3%;
}

/* line 206, ../sass/screen.scss */
#page-heading {
  margin-top: 5%;
}

/* line 210, ../sass/screen.scss */
#page-navigation {
  position: relative;
  width: 100%;
  left: 70px;
  top: 60px;
  margin-top: 3%;
}

/*Images*/
/* line 219, ../sass/screen.scss */
img {
  width: 90%;
}

/* line 221, ../sass/screen.scss */
#logo-img {
  width: 15%;
  padding: 5px 5px 5px 5px;
}

/* line 226, ../sass/screen.scss */
img .thumb-img {
  width: 90%;
}

/* line 229, ../sass/screen.scss */
#container img {
  width: 90%;
}

/* line 231, ../sass/screen.scss */
#kaila-image {
  width: 100%;
  padding: 5px 5px 5px 5px;
  float: left;
  padding-right: 25px;
  padding-bottom: 15px;
}

/* line 239, ../sass/screen.scss */
#graph {
  float: right;
  width: 100%;
}

/*Typography*/
/* line 244, ../sass/screen.scss */
.tk-futura-pt {
  font-family: "Futura PT", sans-serif;
}

/* line 246, ../sass/screen.scss */
.tk-brandon-grotesque {
  font-family: "Brandon Grotesque", sans-serif;
}

/* line 248, ../sass/screen.scss */
.gf-open-sans {
  font-family: "Open-Sans", sans-serif;
}

/* Animation classes for the slider menu plugin*/
/* line 254, ../sass/screen.scss */
.dl-menu.dl-animate-out-1 {
  animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
  50% {
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}
/* line 272, ../sass/screen.scss */
.dl-menu.dl-animate-in-1 {
  animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  /* line 292, ../sass/screen.scss */
  #page-navigation {
    display: none;
  }

  /* line 293, ../sass/screen.scss */
  #header-container {
    margin-left: 100px;
  }

  /* line 294, ../sass/screen.scss */
  .controls {
    margin-top: -40px;
    font-size: 12px;
    font-stretch: condensed;
  }
  /* line 297, ../sass/screen.scss */
  .controls #header-container {
    margin-top: 120px;
    width: 200%;
  }
  /* line 300, ../sass/screen.scss */
  .controls #header-container h1 {
    font-size: 50px;
  }
  /* line 301, ../sass/screen.scss */
  .controls img#logo-img, .controls #logo-img {
    width: 25%;
    min-width: 90px;
  }

  /* line 305, ../sass/screen.scss */
  #page-heading {
    font-size: 50px;
  }
}
@media screen and (max-width: 650px) {
  /* line 312, ../sass/screen.scss */
  .swap {
    display: none;
  }

  /* line 313, ../sass/screen.scss */
  .hidden-nav {
    display: -webkit-box;
  }

  /* line 314, ../sass/screen.scss */
  .controls {
    display: -webkit-box;
  }
}
/* line 319, ../sass/screen.scss */
div.content.hide {
  display: none;
}
